input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="text"]{
    box-sizing : border-box;
}
input[type="number"]{
    box-sizing : border-box;
}

@FONT-FACE{
    font-family: wild;
    src:url("../fonts/fontTheWild.otf");
}

html,body {
    width: 1280px;
    margin: auto;
}

input{
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 960px){
    .medium-width{
        width: 100%;
    }
    html,body {
        width: 960px;
    }
    .border-all{
        float: none;
    }
}

.info-inputs{
    position: relative;
    width: 100%;
    margin: 0 auto;
}


.title{
    font-size: 60px;
    font-family: wild;
}

.clearfix{
    clear: both;
}

.container{
    border: 1px solid black; 
    border-radius: 10px;
    padding: 1%;
    overflow: hidden;
    text-align: center;
    margin: 1% 0% 1% 1%
}

.container-0{
    width: 40%;
    float: left;
}

.container-1{
    width: 52.5%;
    float: left;
}

.subcontainer{
    float: left;
}

.subcontainer-0{
    width: 75%;
    margin: 1%;
}

.subcontainer-1{
    width: 20%;
    margin: 1% 1% 1% 2%;
}

.subcontainer-2{
    width: 29.333333%;
    margin: 5% 2% 5% 2%;
}