<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="CSS/common.css" type="text/css">
    <title>Ficha de Personagem</title>
</head>

<body>
    <div id="GOD">
        <div class="table">
            <!-- Seçao 1 -->
            <div name="div_charInfos1" class="container-border  container container-0 row">
                <div>
                    <img src="images/logo.png" alt="Dungeons And Dragons Character Sheet" width="100%">
                </div>
                <!-- <h1 class="title">Dungeons & Dragons</h1> -->
                <div class="subcontainer subcontainer-0">
                    <input class="info-inputs" type="text" name="input_charNome"><br>
                    <label class="labels-char-infos">Name</label>
                </div>
                <div class="subcontainer subcontainer-1">
                    <input class="info-inputs" type="number" name="input_charLevel"><br>
                    <label class="labels-char-infos">Level</label>
                </div>
                <div class="clearfix"></div>
            </div>

            <div name="div_charInfos2" class="container-border container container-1 row">
                <div class="subcontainer subcontainer-2">
                    <div class="div-char-infos-section1">
                        <input type="text" name="input_charRace"><br>
                        <label class="labels-char-infos-1">Race & Class</label>
                    </div>
                    <div class="div-char-infos-section1-bot">
                        <input type="text" name="input_charExp"><br>
                        <label class="labels-char-infos-1">Experience Points</label>
                    </div>
                </div>

                <div class="subcontainer subcontainer-2">
                    <div class="div-char-infos-section1">
                        <input type="text" name="input_charBack"><br>
                        <label class="labels-char-infos-1">Background</label>
                    </div>
                    <div class="div-char-infos-section1-bot">
                        <input type="text" name="input_charAlign"><br>
                        <label class="labels-char-infos-1">Alignment</label>
                    </div>
                </div>

                <div class="subcontainer subcontainer-2">
                    <div class="div-char-infos-section1">
                        <input type="text" name="input_charPlayer"><br>
                        <label class="labels-char-infos-1">Player Name</label>
                    </div>
                    <div class="div-char-infos-section1-bot">
                        <input type="text" name="input_charGroup"><br>
                        <label class="labels-char-infos-1">Adventuring Group</label>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
        <div class="clearfix"></div>
        <!-- Fim secão 1 -->


        <div name="medium-section">
            <!-- Coluna onde estão os quadrados grandes para status -->
            <div class="container-border container status-col row">
                <div>
                    <label class="label-status">Strength</label>
                    <input type="number" class="input-high">
                    <label name="statusCol_Str" class="labels-status-col">----</label>
                </div>
                <br>
                <div>
                    <label class="label-status">Dexterity</label>
                    <input type="number" class="input-high">
                    <label name="statusCol_Dex" class="labels-status-col">----</label>
                </div>
                <br>
                <div>
                    <label class="label-status">Constituition</label>
                    <input type="number" class="input-high">
                    <label name="statusCol_Con" class="labels-status-col">----</label>
                </div>
                <br>
                <div>
                    <label class="label-status">Intelligence</label>
                    <input type="number" class="input-high">
                    <label name="statusCol_Int" class="labels-status-col">----</label>
                </div>
                <br>
                <div>
                    <label class="label-status">Wisdom</label>
                    <input type="number" class="input-high">
                    <label name="statusCol_Wis" class="labels-status-col">----</label>
                </div>
                <br>
                <div>
                    <label class="label-status">Charisma</label>
                    <input type="number" class="input-high">
                    <label name="statusCol_Cha" class="labels-status-col">----</label>
                </div>
            </div>
            <!--Fim status col  -->

            <div class="container attributes-col">
                <div name="attributeCol_Header">
                    <div class="header-attribute-col">
                        <input type="number" class="input-attributes-col">
                        <label class="labels-attributes-col">INSPIRATION</label>
                    </div>
                    <div class="header-attribute-col">
                        <input type="number" class="input-attributes-col">
                        <label class="labels-attributes-col">PROFICIENCY BONUS</label>
                    </div>
                    <div class="header-attribute-col">
                        <input type="number" class="input-attributes-col">
                        <label class="labels-attributes-col">PASSIVE PERCEPTION</label>
                    </div>
                </div>

                <div name="attributeCol_Stats" class="container-border container header-attribute-col-1">
                    <div class="div-att-status-col">
                        <input type="checkbox" class="check-att-status-col">
                        <input type="number" class="input-att-status-col">
                        <label class="label-att-status-col">Strength</label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="div-att-status-col">
                        <input type="checkbox" class="check-att-status-col">
                        <input type="number" class="input-att-status-col">
                        <label class="label-att-status-col">Dexterity</label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="div-att-status-col">
                        <input type="checkbox" class="check-att-status-col">
                        <input type="number" class="input-att-status-col">
                        <label class="label-att-status-col">Constituition</label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="div-att-status-col">
                        <input type="checkbox" class="check-att-status-col">
                        <input type="number" class="input-att-status-col">
                        <label class="label-att-status-col">Intelligence</label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="div-att-status-col">
                        <input type="checkbox" class="check-att-status-col">
                        <input type="number" class="input-att-status-col">
                        <label class="label-att-status-col">Wisdom</label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="div-att-status-col">
                        <input type="checkbox" class="check-att-status-col">
                        <input type="number" class="input-att-status-col">
                        <label class="label-att-status-col">Charisma</label>
                        <div class="clearfix"></div>
                    </div>
                    <div style="text-align: center">
                        <label class="second-title">SAVING THROWS</label>
                    </div>
                </div>

                <div name="attributeCol_Skills" class="container-border container header-attribute-col div-att-skills-col">
                    <div class="div-att-status-col">
                        <input type="checkbox" class="check-att-status-col">
                        <input type="number" class="input-att-status-col">
                        <label class="label-att-status-col">Acrobatics (Dex)</label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="div-att-status-col">
                        <input type="checkbox" class="check-att-status-col">
                        <input type="number" class="input-att-status-col">
                        <label class="label-att-status-col">Animal Handling (Wis)</label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="div-att-status-col">
                        <input type="checkbox" class="check-att-status-col">
                        <input type="number" class="input-att-status-col">
                        <label class="label-att-status-col">Arcana (Int)</label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="div-att-status-col">
                        <input type="checkbox" class="check-att-status-col">
                        <input type="number" class="input-att-status-col">
                        <label class="label-att-status-col">Athletics (Str)</label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="div-att-status-col">
                        <input type="checkbox" class="check-att-status-col">
                        <input type="number" class="input-att-status-col">
                        <label class="label-att-status-col">Deception (Cha)</label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="div-att-status-col">
                        <input type="checkbox" class="check-att-status-col">
                        <input type="number" class="input-att-status-col">
                        <label class="label-att-status-col">History (Int)</label>
                        <div class="clearfix"></div>
                    </div>
                    <div>
                        <input type="checkbox" class="check-att-status-col">
                        <input type="number" class="input-att-status-col">
                        <label class="label-att-status-col">Insight (Wis)</label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="div-att-status-col">
                        <input type="checkbox" class="check-att-status-col">
                        <input type="number" class="input-att-status-col">
                        <label class="label-att-status-col">Intimidation (Cha)</label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="div-att-status-col">
                        <input type="checkbox" class="check-att-status-col">
                        <input type="number" class="input-att-status-col">
                        <label class="label-att-status-col">Investigation (Int)</label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="div-att-status-col">
                        <input type="checkbox" class="check-att-status-col">
                        <input type="number" class="input-att-status-col">
                        <label class="label-att-status-col">Medicine (Wis)</label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="div-att-status-col">
                        <input type="checkbox" class="check-att-status-col">
                        <input type="number" class="input-att-status-col">
                        <label class="label-att-status-col">Nature (Int)</label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="div-att-status-col">
                        <input type="checkbox" class="check-att-status-col">
                        <input type="number" class="input-att-status-col">
                        <label class="label-att-status-col">Perception (Wis)</label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="div-att-status-col">
                        <input type="checkbox" class="check-att-status-col">
                        <input type="number" class="input-att-status-col">
                        <label class="label-att-status-col">Performance (Cha)</label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="div-att-status-col">
                        <input type="checkbox" class="check-att-status-col">
                        <input type="number" class="input-att-status-col">
                        <label class="label-att-status-col">Persuasion (Cha)</label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="div-att-status-col">
                        <input type="checkbox" class="check-att-status-col">
                        <input type="number" class="input-att-status-col">
                        <label class="label-att-status-col">Religion (Int)</label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="div-att-status-col">
                        <input type="checkbox" class="check-att-status-col">
                        <input type="number" class="input-att-status-col">
                        <label class="label-att-status-col">Sleight of Hand (Dex)</label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="div-att-status-col">
                        <input type="checkbox" class="check-att-status-col">
                        <input type="number" class="input-att-status-col">
                        <label class="label-att-status-col">Stealth (Dex)</label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="div-att-status-col">
                        <input type="checkbox" class="check-att-status-col">
                        <input type="number" class="input-att-status-col">
                        <label class="label-att-status-col">Survival (Wis)</label>
                        <div class="clearfix"></div>
                    </div>
                    <div style="text-align: center">
                        <label class="second-title">SKILLS</label>
                    </div>
                </div>

            </div>
            <div class="toggle-clear"></div>
            <!-- Fechamento coluna atributos -->

            <!-- Coluna secundária, seção 3 -->
            <div>
                <div class="table2">
                    <div class="container container-border container-hp row">
                        <!-- Div relacionada a HP -->
                        <div>
                            <div class="div-hp">
                                <input type="number" class="input-high">
                                <label>ARMOR CLASS</label>
                            </div>
                            <div class="div-hp">
                                <input type="number" class="input-high">
                                <label>MAX HP</label>
                            </div>
                            <div class="div-hp">
                                <input type="number" class="input-high">
                                <label>TEMP HP</label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="div-hit">
                            <input type="number" class="input-high">
                            <label class="third-title">CURRENT HIT POINTS</label>
                        </div>
                    </div>
                    <div class="toggle-clear"></div>
                    <div class="container container-border container-initiate row">
                        <div class="container-initiate-col-1">
                            <div class="div-hit-dice">
                                <input type="number" class="inputs-hit-dice">
                                <label class="labels-hit-dice">d6</label>
                                <input type="number" class="inputs-hit-dice">
                            </div>
                            <div class="clearfix"></div>
                            <div class="div-hit-dice">
                                <input type="number" class="inputs-hit-dice">
                                <label class="labels-hit-dice">d8</label>
                                <input type="number" class="inputs-hit-dice">
                            </div>
                            <div class="clearfix"></div>
                            <div class="div-hit-dice">
                                <input type="number" class="inputs-hit-dice">
                                <label class="labels-hit-dice">d10</label>
                                <input type="number" class="inputs-hit-dice">
                            </div>
                            <div class="clearfix"></div>
                            <div class="div-hit-dice">
                                <input type="number" class="inputs-hit-dice">
                                <label class="labels-hit-dice">d20</label>
                                <input type="number" class="inputs-hit-dice">
                            </div>
                            <div class="clearfix"></div>
                            <div>
                                <label class="third-title">HIT DICE</label>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="container-initiate-col-2">
                            <input type="number" class="input-second-dices">
                            <label>INITIATE</label>
                            <input type="number" class="input-second-dices">
                            <label>SPEED</label>
                            <input type="number" class="input-second-dices">
                            <label>VISION</label>
                        </div>
                        <div class="clearfix"></div>
                        <hr>
                        <div class="div-death-dice-1">
                            <label class="labels-death-dice">SUCCESSES</label>
                            <input class="inputs-death-dice" type="checkbox">
                            <input class="inputs-death-dice" type="checkbox">
                            <input class="inputs-death-dice" type="checkbox">
                        </div>
                        <div class="div-death-dice-2">
                            <label class="labels-death-dice">FAILURES</label>
                            <input class="inputs-death-dice" type="checkbox">
                            <input class="inputs-death-dice" type="checkbox">
                            <input class="inputs-death-dice" type="checkbox">
                        </div>
                        <div class="clearfix"></div>
                        <label class="third-title">DEATH SAVES</label>
                    </div>
                </div>
                <br>

                <!-- table- attacks & spellcasting -->
                <div class="container-table container container-border">
                    <table class="table1">
                        <tr>
                            <td>NAME</td>
                            <td>ATTACK</td>
                            <td>DAMAGE</td>
                            <td>RANGE</td>
                            <td>AMMO</td>
                            <td>USED</td>
                        </tr>
                        <tr class="tr-bLine">
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                        </tr>
                        <tr class="tr-bLine">
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                        </tr>
                        <tr class="tr-bLine">
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                        </tr>
                        <tr class="tr-bLine">
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                        </tr>
                        <tr class="tr-bLine">
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                        </tr>
                        <tr class="tr-bLine">
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                        </tr>
                        <tr class="tr-bLine">
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <label class="second-title">ATTACKS & SPELLCASTING</label>
                </div>

                <!-- table- attacks & spellcasting -->
                <div class="container-table container container-border">
                    <table>
                        <tr>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <label name="statusCol_Str"></label>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <label class="second-title">FEATURES & TRAITS</label>
                </div>
            </div>

        </div>
        <!-- Medium Section -->
        <div class="clearfix"></div>
        <!-- Bottom Section -->
        <div name="bot_Section" class="table bottom-section">
            <div class="bottom-col-1 container container-border">
                <input type="text" class="input-bottom" style="margin-top: 2%">
                <input type="text" class="input-bottom">
                <input type="text" class="input-bottom">
                <input type="text" class="input-bottom">
                <input type="text" class="input-bottom">
                <input type="text" class="input-bottom">
                <input type="text" class="input-bottom">
                <input type="text" class="input-bottom">
                <input type="text" class="input-bottom">
                <br>
                <label class="second-title">OTHER PROFICIENCIES & LANGUAGES</label>
            </div>
            <div class="bottom-col-2 container container-border">
                <div class="bottom-col-sec">
                    <input type="text" class="input-bottom">
                    <input type="text" class="input-bottom">
                    <input type="text" class="input-bottom">
                    <input type="text" class="input-bottom">
                    <input type="text" class="input-bottom">
                    <input type="text" class="input-bottom">
                    <input type="text" class="input-bottom">
                    <input type="text" class="input-bottom">
                </div>
                <div class="bottom-col-sec">
                    <input type="text" class="input-bottom">
                    <input type="text" class="input-bottom">
                    <input type="text" class="input-bottom">
                    <input type="text" class="input-bottom">
                    <input type="text" class="input-bottom">
                    <input type="text" class="input-bottom">
                    <input type="text" class="input-bottom">
                    <input type="text" class="input-bottom">
                </div>
                <div name="secondary" class="div-col-2">
                    <div class="div-secondary-col-2">
                        <label class="label-secondary-col-2">C  </label>
                        <input class="input-secondary-col-2" type="text">
                    </div>
                    <div class="div-secondary-col-2">
                        <label class="label-secondary-col-2">S  </label>
                        <input class="input-secondary-col-2" type="text">
                    </div>
                    <div class="div-secondary-col-2">
                        <label class="label-secondary-col-2">E  </label>
                        <input class="input-secondary-col-2" type="text">
                    </div>
                    <div class="div-secondary-col-2">
                        <label class="label-secondary-col-2">G  </label>
                        <input class="input-secondary-col-2" type="text">
                    </div>
                    <div class="div-secondary-col-2">
                        <label class="label-secondary-col-2">P  </label>
                        <input class="input-secondary-col-2" type="text">
                    </div>
                </div>
                <div class="clearfix"></div>
                <br>
                <label class="second-title">INVENTORY & EQUIPMENT</label>
            </div>
        </div>

    </div>
    <!-- GOOOOOOD DIV -->
</body>

</html>