<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro de Player</title>
    <link rel="stylesheet" href="CSS/common.css" type="text/css">
    <link rel="stylesheet" href="CSS/login.css" type="text/css">
</head>

<body>
    <div class="container">
        <div>
            <img src="images/logo.png" alt="Dungeons And Dragons Character Sheet" width="100%">
        </div>
        <label class="title-page-label">Cadastro de Jogador</label>
        <form action="">
            <div>
                <input type="text" name="input_login" required placeholder="Informe um login desejado..." class="input-login" autofocus>
                <input type="email" required placeholder="Informe um e-mail válido" class="input-login">
                <input type="password" name="input_pwd1" required placeholder="Informe uma senha desejada" class="input-login">
                <input type="password" name="input_pwd2" required placeholder="Repita a senha" class="input-login">
            </div>
            <div>
                <button type="submit" value="Submit">Cadastrar</button>
            </div>
        </form>
    </div>
</body>

</html>