<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Player Login</title>
    <link rel="stylesheet" href="CSS/common.css" type="text/css">
    <link rel="stylesheet" href="CSS/login.css" type="text/css">
</head>

<body>
    <div class="container">
        <div>
            <img src="images/logo.png" alt="Dungeons And Dragons Character Sheet" width="100%">
        </div>
        <label class="title-page-label">Login de Jogador</label>
        <form action="" >
            <div>
                <input type="text" name="input_login" required placeholder="Insira seu login..." class="input-login" autofocus>
                <input type="password" name="input_pwd" required placeholder="Insira sua senha..." class="input-login">
            </div>
            <div>
                <button type="button" onclick="location.href='create.html'">Cadastrar</button>
                <button type="submit" value="Submit">Entrar</button>
            </div>
        </form>
    </div>
</body>

</html>